#containerwelcome{
    width: 55%;
    height: 500px;
   text-align: center;
   font-family: monospace;
   
}
#titleWelcome{
    font-size: 105px;
    color:white;
    
}

 #subtitleWelcome{
        font-size: 60px;
        color: white;
 }
    